body, html {
  width: 99dvw;
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
}
iframe {
  width: 80%;
  margin: auto;
}

#hero {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background-image: url(../imagens/fundo-1.jpg);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.341);
}
#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
.hero::before,
.hero::after {
  pointer-events: none;
}

#marcar {
  position: relative;
  z-index: 10;
  cursor: pointer;
}
#img-sobre {
  max-height: 400px;
}
.list {
  list-style-type: none;
  padding: 0;
}
.list li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  width: 99%;
  justify-content: space-between;
}

.list-item:last-child {
  border-bottom: none;
}

.input {
  color: white !important;
  background-color: #ffffff13 !important; /* Ou use uma cor como #333 */
  border-color: white;
}

.input:focus {
  border-color: #00d1b2; /* Cor de destaque ao focar no input */
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.icon,
.icon i {
  color: white !important;
}
